$darkNavigationColor: #252525;
$darkBackgroundLogoColor: rgba(255, 255, 255, 0.05);
$whiteColor: #ffffff;
$blackColor: #000000;
$blueSecNavColor: #4d4382;
$navNewsBackgroundColor: #299ec3;
$navBusinessBorderColor: #ee6151;
$navSportBorderColor: #84c14f;
$navLifeBorderColor: #5dcff3;
$navTechBorderColor: #fcc44d;
$navTravelBorderColor: #a99765;
$mainBackgroundColor: #eeeeee;
$bannerBorderColor: #d7d7d7;
$bannerParagraphColor: #999999;
$sliderImageTextColor: #eef6fa;
$shortNewsBlueColor: #3677b5;
$sectionHeaderColor: #363f48;
$seeAllBorderColor: rgba(54, 119, 181, 0.3);
$dateColor: #666666;
$shortSportGreenColor: #84c14f;
$sidebarBackgroundColor: rgba(0, 0, 0, 0.1);
$sidebarListBorderColor: rgba(172, 179, 186, 0.3);
$sidebarActiveListColor: rgba(252, 196, 77, 1);
$sidebarActiveListBorderColor: rgba(252, 196, 77, 0.3);
$sidebarNewsBorderColor: rgba(0, 0, 0, 0.2);
$sidebarDateNumberOfCommentsColor: #acb3ba;
$socialHeadlineColor: #dddddd;
$articleTextColor: #444444;
$titleImageTextColor: #222222;
$footerLogoColor: #45b0e3;
$footerTextColor: #cccccc;
$footerBotRowBorderColor: #333333;
$postBorderColor: rgba(102, 102, 102, 0.2);
$postImageShadowColor: rgba(0, 0, 1, 0.3);